.container {
  margin: auto;
}

h2 {
  text-align: center;
}

.info-gallery {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.info-buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 10px;
}

span {
  padding: 10px;
  text-align: left;
}

p {
  text-align: center;
}
