.input-results {
}

.container {
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.row .col .info-results {
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 5px;
}
