h1 {
  text-align: center;
  font-size: 3rem;
}

.pic {
  width: 60px;
  border-radius: 50%;
}

.name {
  font-size: 1.2rem;
}

.languagepic {
  width: 20px;
}

.col {
  display: flex;
  padding: 20px;
}

.info {
  padding-left: 10px;
}

.label-checkbox {
  padding-right: 35px;
}

.label-radio {
  padding-right: 35px;
}

.summary {
  margin: 10px;
}
